#dream {
    font-size: 100%;
    /*height: 50px;*/
    margin: 0 auto;
    min-width: 600px;
    width: 10%;
}
.wrap { 
 
    height: 300px;
    margin: 0 auto;
    width: 80%;
    background-image:url('buil1.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    position:relative;    
    
   
}
.caption
{
    height: 20px;
    margin-bottom: 1px;
    margin-left: 180px;
    margin-top: 60px;
    padding: 1px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color:black;
    display:none;
   background:#ffffff;
}
.cap
{
    text-align:center;
}
#dream {
    margin: 0 auto;
    padding-top: -10px;

    
}
#dream:after {
    clear: both;
    content: "";
    display: block;
}
.clear {
    clear: both;
}
#dream ul {
    list-style: none outside none;
    
    margin-top: 150px;
    min-width: 400px;
    padding: 11% 0;
    width: 100%;
}
#dream ul li {
   
    background: none repeat scroll 0 0 #CCCCCC;
    float: left;
    margin: 2.5% 0 0 2.5%;
 -webkit-perspective:600px;
    perspective: 600px;
  
    position: relative;
    
    width: 30%;
}
#dream ul li a {
}
#three {
    left: 12%;
}
#one {
    left: -12%;
}
#dream ul li img {
    -moz-box-sizing: border-box;
    border: 2px solid #EEEEEE;
    float: left;
    max-width: 100%;
}
.rot {
    background-color: #FFFFFF;
    height: 100%;
    margin-left: 69%;
    min-width: 10%;
    position: absolute;
}
.rotate, .rotate1, .rotate2, .rotate3, .rotate4, .rotate5 {
    background: url("door.png") repeat-x scroll center center / cover border-box transparent;
      
    color: #FFFFFF;
    cursor: pointer;
    height: 100%;
    left: -3%;
    margin-left: -2%;
    min-width: 52%;
    position: absolute;
-webkit-transition: all 2s ease 0s;
-moz-transition: all 2s ease 0s;
-ms-transition: all 2s ease 0s;
-o-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
 transform-style: preserve-3d;


    z-index: 10;
}
.rotate1, .rotate3, .rotate5 {
    left: 2%;
    margin-left: 52%;
    min-width: 52%;
}
.gal-5 li {
-moz-transition: all 1s ease 0s;
 -webkit-transition: all 1s ease 0s;
 -o-transition: all 1s ease 0s;
 -ms-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    position: relative;



}
.gal-5 .close1 {
-moz-transition: all 1s ease 0s;
 -webkit-transition: all 1s ease 0s;
 -o-transition: all 1s ease 0s;
 -ms-transition: all 1s ease 0s;
    transition: all 1s ease 0s;

}
.gal-5 li:hover {
}
.me {
    overflow: hidden;
}
.one {
    perspective: 600px;
}
.me {
    overflow: visible;
}
.he {
    transform: translate(-20px);
}
.rotated {
-moz-transform: rotateY(-115deg);
-webkit-transform: rotateY(-115deg);
-o-transform: rotateY(-115deg);
-ms-transform: rotateY(-115deg);
    transform: rotateY(-115deg);
-moz-transform-origin: 0 80% 0;
-webkit-transform-origin: 0 80% 0;
-o-transform-origin: 0 80% 0;
-ms-transform-origin: 0 80% 0;
    transform-origin: 0 80% 0;

}
.rotated1 {
-webkit-transform: rotateY(115deg);
-o-transform: rotateY(115deg);
-ms-transform: rotateY(115deg);
-moz-transform: rotateY(115deg);
    transform: rotateY(115deg);
-moz-transform-origin: 100% 80% 0;
-webkit-transform-origin: 100% 80% 0;
-o-transform-origin: 100% 80% 0;
-ms-transform-origin: 100% 80% 0;

    transform-origin: 100% 80% 0;

}
.gal-5 li:target img {
-moz-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);

}
.close1 {
    background: none repeat scroll 0 0 #C15252;
 -moz-border-radius: 2px 2px 2px 2px;
   -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
 -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

    color: #FFFFFF;
    display: none;
    font: 0.3em/1em Arial,Helvetica,sans-serif;
    letter-spacing: 0.3em;
    padding: 2px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    top: -3px;
}
.close1:hover {
    background: none repeat scroll 0 0 #D06464;
}
.gal-5 li:target .close1 {
    display: inline;
}
